:root {
    --secondary: #D0D6F9;
}
@font-face {
    font-family: Bellefair;
    src: url("/assets/Bellefair-Regular.ttf");
}
body {
    font-family: Bellefair, sans-serif;
}
.page-wrapper {
    background-size: cover;
}
.page-wrapper.index{
    background-image: url("/assets/images/home/background-home-desktop.jpg");
}
header.container {
    height: 20vh;
    position: relative;
}
section {
    height: 90vh;
    width: 50vw;
}
nav {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 5%);
    height: 96px;
    color: #fff;
}
.nav-col {
    flex: 1 0 18vw;
}
nav .row {
    gap: 40px;
}
nav p {
    font-size: 19px;
    font-weight: 700;
}
nav a {
    padding: 0 10px;
    font-weight: 400;
}
.nav-item {
    height: 100%;
    border-bottom: 2px solid transparent;
}
.nav-item.active {
    border-bottom: 2px solid #fff;
}
.nav-item:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 50%);
}
.header-line {
    position: absolute;
    top: 50%;
    transform: scaleY(50%);
    left: 10%;
    border: 1px solid rgba(255, 255, 255, 25%);
    width: 35vw;
    z-index: 99;
}
.logo-wrapper {
    margin-left: 7%;
}
section h2, section p {
    color: var(--secondary);
    font-weight: 400;
}
section h2, main h2 {
    font-size: 28px;
    letter-spacing: 2px;
}
section p {
    font-size: 18px;
}
section h1 {
    color: #fff;
    font-weight: 400;
    font-size: 150px;
}
section .row {
    padding-left: 19%;
}
section .column {
    gap: 5px;
    max-width: 78%;
}

.explore-circle, .explore-circle-hover {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 274px;
    width: 274px;
}
.explore-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15%;
    bottom: 15%;
}
.explore-circle-hover {
    opacity: 10%;
}
.explore-circle-hover:hover {
    height: 450px;
    width: 450px;
}
.explore-circle p {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 30%;
}
.nav-listener {
    position: absolute;
    bottom: 0;
    gap: 0;
}
/*-------------------*/
/* Destination Page */
/*-------------------*/
.page-wrapper.destination {
    background-image: url("/assets/images/destination/background-destination-desktop.jpg");
}
main {
    width: 95vw;
}
main h2 {
    font-weight: 400;
    color: #fff;
}
main span {
    padding-right: 8px;
    opacity: 25%;
    font-weight: 700;
}
.planet-row {
    gap: 10rem;
}
#planet-nav {
    gap: 25px;
}
#planet-nav p {
    color: #fff;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 19px;
    cursor: pointer;
}
#planet-nav p.active {
    border-bottom: 1px solid #fff;
}
#planet-nav p:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 50%);
}
.planet-info {
    gap: 45px;
    color: #fff;
    font-weight: 400;
}
.planet-info-col {
    gap: 45px;
}
.planet-info h3 {
    line-height: 100px;
    font-size: 100px;
    font-weight: 400;
}
.planet-info p {
    font-size: 18px;
    color: var(--secondary);
}
.statistics-row {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 50%);
}
.statistics p, .statistics h4 {
    font-weight: 400;
}
.statistics p {
    font-size: 14px;
    letter-spacing: 2px;
}
.statistics h4 {
    font-size: 28px;
}
/*-------------------*/
/* Crew Page */
/*-------------------*/
.page-wrapper.crew {
    background-image: url('/assets/images/crew/background-crew-desktop.jpg');
}
.crew main {
    gap: 120px;
}
.crew-col {
    gap: 10px;
    padding-top: 40px;
}
.crew-col h3, .crew-col h2, .crew-col p {
    font-weight: 400;
}
.crew-col h3 {
    color: rgba(255, 255, 255, 50%);
    font-size: 32px;
}
.crew-col h2{
    color: #fff;
    font-size: 56px;
    line-height: 56px;
    padding-bottom: 30px;
}
.crew-col p{
    color: var(--secondary);
    font-size: 18px;
    max-width: 28vw;
    height: 100px;
}
.crew-nav-btn {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 17%);
    border-radius: 9999px;
    cursor: pointer;
}
.crew-nav-btn:hover {
    background-color: rgba(255, 255, 255, 50%);
}
.crew-nav-btn.active {
    background-color: #fff;
}
.img-wrapper {
    position: absolute;
    bottom: 0;
    right: 150px;
}
/*-------------------*/
/* Technology Page */
/*-------------------*/
.page-wrapper.technology {
    background-image: url('/assets/images/technology/background-technology-desktop.jpg');
}
.technology main {
    gap: 10rem;
}
.technology-content-row {
    gap: 80px;
}
.technology-nav {
    gap: 50px;
}
.technology-circle {
    height: 80px;
    width: 80px;
    border-radius: 9999px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 25%);
    cursor: pointer;
}
.technology-circle p {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
}
.technology-circle:hover {
    border-color: #fff;
}
.technology-info {
    gap: 18px;
}
.technology-info h4, .technology-info h3, .technology-info p {
    font-weight: 400;
}
.technology-info h4 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #fff;
}
.technology-info h3{
    font-size: 56px;
    color: #fff;
}
.technology-info p{
    color: var(--secondary);
    font-size: 18px;
    width: 24rem;
}
.technology-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 5rem;
}